@model ShopCartViewModel
<div class=" container">
    @foreach(var el in Model.shopCart.listShopitems)
            {
                <div class=" alert alert-warning mt-3">
                    <b>Авто:</b>@el.car.name<br />
                    <b>Ціна:</b>@el.car.price.ToString("c")
                </div>
            }
    <hr />
    <div class="btn btn-danger" asp-controller="Order">Оплатити</div>
</div>